body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

#emoji {
  font-size: 10rem;
  filter: grayscale(1);
  transition-property: transfrom, filter;
  transition-duration: 200ms;
  cursor: pointer;
}

#emoji:hover {
  transform: scale(1.3);
  filter: grayscale(0);
}
