* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: rgb(10, 10, 165);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

input {
  outline: none;
  background: none;
  border: none;
  width: 90%;
  padding: 10px 20px;
  font-size: 16px;
}

.eye-container {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eye-icon {
  font-size: 20px;
  color: #777;
  transition: 0.2s ease;
}

#eye-icon:hover {
  color: rgb(10, 10, 165);
  cursor: pointer;
}
