@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Abril Fatface", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.heading {
  font-size: 10rem;
  font-weight: 900;
  background: url(https://images.unsplash.com/photo-1446329813274-7c9036bd9a1f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
