* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ecf4fb;
}

.img-gallery {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
  transition: 1s ease;
}

.img-gallery img:hover {
  transform: scale(0.8);
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

/* Wrapper */
.imageWrapper {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.imageWrapper img {
  width: 90%;
  max-width: 500px;
}

.imageWrapper span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  font-family: sans-serif;
  color: #fff;
  cursor: pointer;
}
